@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #4616ad;
  clear: both;
}

.section-1 > img {
  margin-top: 0;
  border-radius: 0 0 50% 50%;
  z-index: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0, 0);
  position: absolute;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.login {
  position: absolute;
  left: 90%;
  margin-top: 15px;
  padding: 5px;
  border: 2px solid white;
  background-color: rgb(0, 0, 0, 0);
  color: white;
  border-radius: 30%;
  width: 70px;
}

.section-1 p {
  font-size: 30px;
  color: white;
}

.section-1 .line1 {
  position: absolute;
  top: 20%;
  left: 10%;
}

.section-1 .line2 {
  position: absolute;
  top: 25%;
  left: 10%;
}

.section-1 .contact {
  position: absolute;
  top: 35%;
  left: 10%;
  padding: 10px;
  background-color: rgba(22, 5, 59, 0.7);
  border: none;
  color: white;
  width: 100px;
  border-radius: 5px;
  border: 2px solid white;
}

.container {
  display: flex;
  justify-content: space-between;
}

.container > div {
  background-color: rgb(255, 255, 255, 0.2);
  color: white;
  width: 300px;
  height: 250px;
  margin: 20px;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
}

.container .heading {
  font-size: 20px;
  padding: 10px;
}

.section-3 {
  position: relative;
  margin: 0;
  padding: 0;
}

.section-3 .line-1 {
  position: absolute;
  left: 10%;
  top: 10%;
  color: bisque;
  font-weight: 300;
}

.section-3 .line-4,
.line-2,
.line-3 {
  position: absolute;
  font-size: 30px;
  color: white;
  left: 10%;
}

.section-3 .line-2 {
  position: absolute;
  top: 20%;
}

.section-3 .line-3 {
  top: 25%;
}
.section-3 .line-4 {
  top: 30%;
}
.section-3 .sub {
  position: absolute;
  top: 40%;
  font-size: 20px;
  color: white;
  left: 10%;
}
.modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}
.bg-active {
  visibility: visible;
  opacity: 1;
}
.modal {
  position: relative;
  font-family: "Montserrat", sans-serif;
  width: 60%;
  height: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: white;
  background-image: -webkit-gradient(
      radial,
      50% 50%,
      2,
      50% 50%,
      40,
      from(white),
      color-stop(0.1, rgba(248, 255, 128, 0.5)),
      to(transparent)
    ),
    -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 30, from(white), color-stop(0.1, rgba(255, 186, 170, 0.4)), to(transparent)),
    -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 40, from(rgba(255, 255, 255, 0.9)), color-stop(0.05, rgba(251, 255, 186, 0.3)), to(transparent)),
    -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 30, from(rgba(255, 255, 255, 0.4)), color-stop(0.03, rgba(253, 255, 219, 0.2)), to(transparent));
  background-image: -moz-radial-gradient(
      circle,
      #ffffff 2px,
      rgba(248, 255, 128, 0.5) 4px,
      transparent 40px
    ),
    -moz-radial-gradient(circle, #ffffff 1px, rgba(255, 186, 170, 0.4) 3px, transparent
          30px),
    -moz-radial-gradient(circle, rgba(255, 255, 255, 0.9) 1px, rgba(
            251,
            255,
            186,
            0.3
          )
          2px, transparent 40px),
    -moz-radial-gradient(circle, rgba(255, 255, 255, 0.4), rgba(
            253,
            255,
            219,
            0.2
          )
          1px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 270px, 220px 200px;

  background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
}

.buttonLogin {
  -webkit-border-radius: 60px;
  border-radius: 60px;
  border: none;
  color: #eeeeee;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  background-color: #2ba805;
  box-shadow: 0 0 5px #2ba805;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  cursor: pointer;
}
.ellipse,
.ellipse2 {
  border: 2px solid white;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  transform: rotate(-10deg);
  z-index: 0;
}
.ellipse {
  width: 310px;
  height: 310px;
}
.ellipse2 {
  width: 400px;
  height: 400px;
}
.planet1,
.planet2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
}
.planet1 {
  animation: circle 8s linear infinite;
  background: linear-gradient(to right, #f53803 0%, #f5d020 100%);
  animation-delay: -7s;
}
.planet2 {
  background: linear-gradient(to right, #087ee1 0%, #05e8ba 100%);

  animation: circle2 9s linear infinite;
  animation-delay: -5s;
}
@keyframes circle {
  0% {
    transform: rotate(0deg) translate(-150px);
  }
  100% {
    transform: rotate(360deg) translate(-150px);
  }
}
@keyframes circle2 {
  0% {
    transform: rotate(0deg) translate(-200px);
  }
  100% {
    transform: rotate(360deg) translate(-200px);
  }
}
label,
input,
.buttonLogin {
  z-index: 1;
}
input {
  padding: 5px;
}
.name {
  font-family: "Courgette", cursive;
  position: absolute;
  top: 10%;
  left: 10%;
}
